:root {
  --background: #10131c;
  --idle-letter: #e4e4e4;
  --correct-letter: #43a03a;
  --error-letter: #ff4343;
  --stopwatch: rgb(245, 245, 245);
  --mistakes: #ff7171;
  --perfect: #86f280;
}

* {
  box-sizing: border-box;
  user-select: none;
  font-family: 'Neucha', cursive;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}
